<div style="padding-left: 48px;padding-top: 48px;padding-bottom: 48px;padding-right: 48px;">
    <ibm-tabs type="container">
        <ibm-tab heading="MpppFormMigaration"><br>
            <ibm-file-uploader [title]="title" [description]="description" [buttonText]="buttonText"
                [buttonType]="buttonType" [accept]="accept" [multiple]="multiple" [skeleton]="skeleton"
                [(files)]="mpppfile" [size]="size" [disabled]="disabled">
            </ibm-file-uploader>
            <div [id]="notificationId" style="width: 300px; margin-top: 20px"></div>
            <button ibmButton *ngIf="mpppfile && mpppfile.size > 0" (click)="mpppFormUpload()">
                MpppFormUpload
            </button>
        </ibm-tab>
        <ibm-tab heading="UsersforAdminMigartion"><br>
            <ibm-file-uploader [title]="title" [description]="description" [buttonText]="buttonText"
                [buttonType]="buttonType" [accept]="accept" [multiple]="multiple" [skeleton]="skeleton"
                [(files)]="userfile" [size]="size" [disabled]="disabled">
            </ibm-file-uploader>
            <div [id]="notificationId" style="width: 300px; margin-top: 20px"></div>
            <button ibmButton *ngIf="userfile && userfile.size > 0" (click)="usersforAdminUpload()">
                UserForAdminUpload
            </button>
        </ibm-tab>
    </ibm-tabs>
</div>