<div ibmGrid style="margin-top: 50px;margin-left: 500px;">
    <div ibmRow style="font-size: 30px;align-items: center">Patient Register Form</div>
    <button ibmButton size="sm" style="margin-left:400px;padding-right:15px" (click)="addNewPateint()">Add New
        Patient</button>&nbsp;
    <button ibmButton size="sm" style=" padding-right:15px;" (click)="editNewPateint()">Edit Patient</button>

</div>
<div ibmGrid style="margin-top: 50px;">
    <div ibmRow>
        <div ibmCol [columnNumbers]="{'lg': 4,'md':3,'sm':1}">
            <p class="bx--label">Name</p>
            <input ibmText [placeholder]="placeholder" [(ngModel)]="pateintregisterDTO.name"
                [disabled]=disabled><br><br>
            <p>Address</p><br>
            <div ibmRow>
                <div ibmCol>
                    <p class="bx--label">streetNo</p>
                    <input ibmText [placeholder]="placeholder" [(ngModel)]="pateintregisterDTO.address.streetno"
                        [disabled]=disabled>
                </div>
                <div ibmCol>
                    <p class="bx--label">city</p>
                    <input ibmText [placeholder]="placeholder" [(ngModel)]="pateintregisterDTO.address.city"
                        [disabled]=disabled>
                </div>
                <div ibmCol>
                    <p class="bx--label">pincode</p>
                    <input ibmText [placeholder]="placeholder" [(ngModel)]="pateintregisterDTO.address.pincode"
                        [disabled]=disabled>
                </div>
            </div><br>
            <p class="bx--label">Doctor</p>
            <ibm-combo-box [items]="items" (selected)="selected($event)" [(ngModel)]="selectedconsultdoctor"
                placeholder="Select" [disabled]=disabled>
                <ibm-dropdown-list></ibm-dropdown-list>
            </ibm-combo-box><br><br>
            <p class="bx--label">Timing</p>
            <ibm-date-picker [(ngModel)]="pateintregisterDTO.time" [disabled]=disabled></ibm-date-picker>
        </div>
        <div ibmCol [columnNumbers]="{'lg': 4,'md':3,'sm':1}">
            <p class="bx--label">Age</p>
            <input ibmText [placeholder]="ageplaceholder" [(ngModel)]="pateintregisterDTO.age"
                [disabled]=disabled><br><br><br><br>
            <p class="bx--label">PhoneNo</p>
            <input ibmText [placeholder]="ageplaceholder" [(ngModel)]="pateintregisterDTO.phonenumber"
                [disabled]=disabled><br><br><br>
            <p class="bx--label">consult Doctor</p>
            <input ibmText [placeholder]="placeholder" [(ngModel)]="consultdoctor"
                [disabled]="consultdoctor.length>0||disabled"><br /><br>
        </div>

    </div><br><br>
    <button ibmButton size="sm" style="margin-left:400px;padding-right:15px;" (click)="savetoExcel()">submit</button>
</div>