<!-- <div>
    <form [formGroup]="saveForm">
        <label>
            employeeName
        </label>
        <input type="text" formControlName="empName">
        <div *ngIf="submitted && f.empName.errors">
            <div *ngIf="f.empName.errors.required">emp Name is required</div>
        </div>
<button type="button" (click)="save()">Submit</button>
</form>
</div> -->
<!-- template driven form -->
<!-- <h3>Angular 6 Template-Driven Form Validation</h3>
<form name="form" #tempform="ngForm" >
    <label>ID</label>
    <input type="text" name="id" [(ngModel)]="model.id" #id="ngModel" required />
    <div *ngIf="templatesubmitted && id.invalid">
        <div *ngIf="id.errors.required">First Name is required</div>
    </div>

    <div>
        <button (click)="onSubmit(tempform)">Register</button>
    </div> -->


    